<h1>Site#contact</h1>
<p>
  If you wish to get in touch with me you can do so through my <a href="fb.com/hsps9.99">facebook</a> or <a href="http://twitter.com/coder_hsps">Twitter</a>
</p>
<p>
  If you are interested in Ruby, then have a look at my Technical blog. <a href="http://tech.hsps.in"> Tech.HsPS</a> and see if you can find something interesting there....
</p>
